<form #f="ngForm" (change)="onFormChange(f)">
    <div class="row g-1">
      <div class="h5">Busca:</div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Digite sua busca..." ngModel name="search">
      </div>
    </div>
    <div class="row g-1 mt-1">
      <div class="h5">Filtros e agregações:</div>
      <div class="col-sm-2">
        <label class="form-label">Aberto?</label>
        <select class="form-select" ngModel name="opened">
          <option [ngValue]="null" selected>---</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
      </div>

      <div class="col-sm-3">
        <label class="form-label">Travado?</label>
        <select class="form-select" ngModel name="locked">
          <option [ngValue]="null" selected>---</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
      </div>

      <div class="col-sm-3">
        <label class="form-label">Ordenar por</label>
        <select class="form-select" ngModel name="orderBy">
          <option value="0" selected>---</option>
          <option value="title">Ordem alfabética</option>
          <option value="created_at">Data Criação</option>
          <option value="closed_at">Data de Fechamento</option>
          <option value="updated_at">Data de Atualização</option>
          <option value="merged_at">Data do Merge</option>
        </select>
      </div>
    </div>
  </form>
